{% extends 'base.html' %}
{% load static %}
{% block content %}

<div  class="zoom" style ="margin-top:0em;margin-left: 28em;">

    <a href="{% url 'fichesVita:vitamineA' %}"><img class="" src="{% static 'themeNutridelta/pillules/vitamineA.png' %}" style="width: 3%;" /></a>
    <a>&nbsp;</a> <a>&nbsp;</a><a>&nbsp;</a> <a>&nbsp;</a> <a>&nbsp;</a>
    <a href="#"><img class="" src="{% static 'themeNutridelta/pillules/vitamineB.png' %}" style="width: 3%; "/></a>
    <a>&nbsp;</a> <a>&nbsp;</a><a>&nbsp;</a> <a>&nbsp;</a> <a>&nbsp;</a>
    <a href="#"><img class="" src="{% static 'themeNutridelta/pillules/vitamineC.png' %}" style="width: 3%;" /></a>
    <a>&nbsp;</a> <a>&nbsp;</a><a>&nbsp;</a> <a>&nbsp;</a> <a>&nbsp;</a>
    <a href="#"><img class="" src="{% static 'themeNutridelta/pillules/vitamineD.png' %}" style="width: 3%;"/></a>
    <a>&nbsp;</a> <a>&nbsp;</a><a>&nbsp;</a> <a>&nbsp;</a> <a>&nbsp;</a>
    <a href="#"><img class="" src="{% static 'themeNutridelta/pillules/vitamineE.png' %}" style="width: 3%;"  /></a>
    <a>&nbsp;</a> <a>&nbsp;</a><a>&nbsp;</a> <a>&nbsp;</a> <a>&nbsp;</a>
    <a href="#"><img class="" src="{% static 'themeNutridelta/pillules/vitamineK.png' %}" style="width: 3%;" /></a>
    <a>&nbsp;</a> <a>&nbsp;</a><a>&nbsp;</a> <a>&nbsp;</a> <a>&nbsp;</a>
    <a href="#"><img class="" src="{% static 'themeNutridelta/pillules/vitamineB12.png' %}" style="width: 3%;" /></a>
  </div>

  <div class="containerQuestionnaire">
<div class="progress" style="margin-bottom:1em;height:20px;margin-top: 2em">
  <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress_bar_width }}%"></div>
</div>

  {% include specificTitleQuestionnaire %}


{% include specificTemplateQuestionnaire %}
     {% include specificBottomQuestionnaire %}

</div>


{% endblock %}
