{% extends 'base.html' %}
{% block content %}
  {% load static %}


  <div class="container-acceuil-nutridelta" style="display:flex;
">
    {% for elem in testlist %}
      {{ elem }}
    {% endfor %}
    <div class="left_side_index">

      <div style="padding-bottom:1em;"><b>80%</b> de la population est en <b>déficience ou carrence</b> d'un ou
        plusieurs
        micro-nutriments. Grace au test Nutridelta detectez en moins de <b>5 minutes</b> vos défiences ou carrences en
        vitamine, minéraux et oligo-élèments.
      </div>

      <div class="" style="display:flex;">
        <div class="button1" style="margin:auto;width:100%;" onclick="location.href='/questionnaire/'">DEMARRER
          LE TEST NUTRIDELTA
        </div>
      </div>

      <div style="text-align:center;margin-top:0.5em">Gratuit, et sans inscription.</div>

      <li class="zoomarticle">
  <div class="article_big_img">
    <img src="{% static 'themeNutridelta/form/picto-examen.png' %}"/>
  </div>
</li>

<li class="zoomarticle">
  <div class="article_big_img">
    <img src="{% static 'themeNutridelta/form/picto-sport.png' %}"/>
  </div>
</li>

<li class="zoomarticle">
  <div class="article_big_img">
    <img src="{% static 'themeNutridelta/form/picto-regime.png' %}"/>
  </div>
</li>

<li class="zoomarticle">
  <div class="article_big_img">
    <img src="{% static 'themeNutridelta/form/picto-sante.png' %}"/>
  </div>
</li>

<li class="zoomarticle">
  <div class="article_big_img">
    <img src="{% static 'themeNutridelta/form/picto-bienetre.png' %}"/>
  </div>
</li>
<li class="zoomarticle">
  <div class="article_big_img">
    <img src="{% static 'themeNutridelta/form/picto-grossesse.png' %}"/>
  </div>
</li>

    </div>


    <div class="logo"><img style="width:100%;  " src="{% static 'themeNutridelta/logo_transparent.png' %}"></div>

  </div>

{% endblock %}
